&__inputs-and-options-panel-container {
    display: flex;
    flex-direction: column;
    border: 0px;
    padding: 10px;
    margin-left: 100px;
    border: 2px solid rgb(80, 189, 165);
}

&__inputs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

&__options-panel-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

&__inputs-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
}

&__step-size-text,
&__orientation-text,
&__max-value-text,
&__min-value-text,
&__handles-count-text,
&__angle-size-text {
    margin: 0px;
    margin-left: 10px;
    text-align: center;
    display: inline-flex;
    align-items: flex-end;
}
&__first-input,
&__last-input {
    width: 200px;
    height: 30px;
    border: 1px solid black;
}
&__last-input {
    margin-top: 10px;
}

&__step-size-input,
&__max-value-input,
&__min-value-input,
&__angle-size-input {
    width: 200px;
    height: 30px;
    margin-top: 10px;
    border: 1px solid black;
    font-size: 1.5rem;
}

&__handles-count-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

&__handles-count-input {
    width: max-content;
}
