&__inputs-and-options-panel-container {
    display: flex;
    flex-direction: column;
    border: 0px;
    padding: 10px;
    margin-left: 100px;
    border: 2px solid rgb(80, 189, 165);
}

&__inputs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

&__options-panel-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

&__inputs-label,
&__first-input-container,
&__last-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
}

&__step-size-text,
&__orientation-text,
&__max-value-text,
&__min-value-text,
&__handles-count-text,
&__angle-size-text,
&__input-text {
    margin: 0px;
    margin-left: 10px;
    text-align: center;
    display: inline-flex;
    align-items: flex-end;
    font-size: 1.2rem;
}

&__first-input,
&__last-input {
    width: 200px;
    height: 30px;
    border: 1px solid black;
    font-size: 1.5rem;
}
&__last-input {
    margin-top: 10px;
}

&__step-size-input,
&__max-value-input,
&__min-value-input,
&__angle-size-input {
    width: 200px;
    height: 30px;
    margin-top: 10px;
    border: 1px solid black;
    font-size: 1.5rem;
}

&__handles-count-container {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    font-size: 1.5rem;
    //justify-content: space-between;
    & label:last-child {
        margin-left: 30px;
    }
}
&__handles-count-input {
    width: max-content;
}
