@import "../assets/fonts/fonts.scss";
@include setFonts("../");

.range-slider {
    border: 1px solid black;

    display: flex;
    //flex-direction: column/* row */;
    background: white;

    $filledBodyWidth: 100px;
    $filledBodyMarginLeft: 30px;
    $sliderSize: 26px;

    height: 300px;
    width: 100%;

    //слайдер и шкала измерений
    &__main-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;

        height: 100%;
        width: 100%;
    }
    &__slider-container {
        display: flex;
        position: relative;
        background: transparent;

        width: 100%;
    }

    &__slider-body-empty {
        background: #ffffff;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 3px;
        position: absolute;

        //border: 5px solid black;
        z-index: 1;
    }
    &__slider-body-filled {
        width: 8px;
        height: 8px;
        background: linear-gradient(90deg, #6fcf97 0%, #66d2ea 100%);
        position: absolute;

        //border: 5px solid black;
        z-index: 2;
    }
    &__first-slider,
    &__last-slider {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        //border-radius: 50%;

        opacity: 0.5;

        left: auto;
        bottom: 0px;

        //border: 5px solid black;
        z-index: 4;
    }
    &__first-slider {
        background: linear-gradient(90deg, #6fcf97 0%, #66d2ea 100%);
    }
    &__last-slider {
        background: linear-gradient(-90deg, #6fcf97 0%, #66d2ea 100%);
    }

    &__first-slider-outside,
    &__last-slider-outside {
        width: $sliderSize;
        height: $sliderSize;
        position: absolute;

        background: rgb(216, 111, 111);
        //border-radius: 50%;

        opacity: 0.5;

        left: auto;
        bottom: 0px;

        //border: 2px solid black;
        z-index: 3;
    }

    &__scale-container {
        display: flex;
        position: relative;
    }
    &__scale-segment {
        cursor: pointer;
        color: black;
        font-size: 14px;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    @import "./OptionsPanel.scss";
}
