@import "../assets/fonts/fonts.scss";
@include setFonts("../");

.range-slider {
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    background: white;
    /* width: 500px; */
    height: max-content;

    $filledBodyWidth: 100px;
    $filledBodyMarginLeft: 30px;
    $sliderSize: 26px;

    /* &__title-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 18px;
    } */

    /* &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1f2041;
    } */

    //слайдер и шкала измерений
    &__main-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 100px;
        align-self: center;
    }
    &__slider-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background: transparent;
    }

    &__slider-body-empty {
        background: #ffffff;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 3px;
        position: absolute;

        //border: 5px solid black;
        z-index: 1;
    }
    &__slider-body-filled {
        width: 8px;
        height: 8px;
        background: linear-gradient(90deg, #6fcf97 0%, #66d2ea 100%);
        position: absolute;

        //border: 5px solid black;
        z-index: 2;
    }
    &__first-slider,
    &__last-slider {
        display: flex;
        align-items: center;
        justify-content: center;
        /* background: linear-gradient(90deg, #6fcf97 0%, #66d2ea 100%); */
        position: absolute;
        border-radius: 50%;

        opacity: 0.5;

        left: auto;
        bottom: 0px;

        //border: 5px solid black;
        z-index: 4;
    }
    &__first-slider {
        background: linear-gradient(90deg, #6fcf97 0%, #66d2ea 100%);
    }
    &__last-slider {
        background: linear-gradient(-90deg, #6fcf97 0%, #66d2ea 100%);
    }

    &__first-slider-outside,
    &__last-slider-outside {
        width: $sliderSize;
        height: $sliderSize;
        /* background: linear-gradient(90deg, #ce2e2e 0%, #eb9525 100%); */
        //background: white;
        background: rgb(216, 111, 111);
        border-radius: 50%;
        position: absolute;

        opacity: 0.5;

        left: auto;
        bottom: 0px;

        //border: 2px solid black;
        z-index: 3;
    }
    /* &__first-slider-outside {
        background: linear-gradient(90deg, #ce2e2e 0%, #eb9525 100%);
    }
    &__last-slider-outside {
        background: linear-gradient(-90deg, #ce2e2e 0%, #eb9525 100%);
    } */

    &__scale-container {
        display: flex;
        position: relative;
    }
    &__scale-segment {
        cursor: pointer;
        color: black;
        font-size: 14px;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    @import "./OptionsPanel.scss";
}
