@font-face {
  font-family: "Montserrat";
  src: url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff), url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2), url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.eot), url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf), url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.svg);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Montserrat";
  src: url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.woff), url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.woff2), url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.eot), url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.ttf), url(src/assets/fonts/Montserrat/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.svg);
  font-weight: bold;
  font-style: normal; }

.range-slider {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  background: white;
  width: max-content;
  height: max-content; }
  .range-slider__title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18px; }
  .range-slider__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041; }
  .range-slider__main-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px; }
  .range-slider__slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: transparent; }
  .range-slider__slider-body-empty {
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 3px;
    position: absolute;
    z-index: 1; }
  .range-slider__slider-body-filled {
    width: 8px;
    height: 8px;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    position: absolute;
    z-index: 2; }
  .range-slider__first-slider, .range-slider__last-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    left: auto;
    bottom: 0px;
    z-index: 4; }
  .range-slider__first-slider-outside, .range-slider__last-slider-outside {
    width: 26px;
    height: 26px;
    background: linear-gradient(180deg, #ce2e2e 0%, #eb9525 100%);
    border-radius: 50%;
    position: absolute;
    opacity: 0.5;
    left: auto;
    bottom: 0px;
    z-index: 3; }
  .range-slider__scale-container {
    display: flex;
    position: relative; }
  .range-slider__scale-segment {
    cursor: pointer;
    color: black;
    font-size: 14px;
    position: absolute;
    left: 0px;
    bottom: 0px; }
  .range-slider__inputs-and-options-panel-container {
    display: flex;
    flex-direction: column;
    border: 0px;
    padding: 10px;
    margin-left: 100px;
    border: 2px solid #50bda5; }
  .range-slider__inputs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px; }
  .range-slider__options-panel-container {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .range-slider__inputs-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content; }
  .range-slider__step-size-text, .range-slider__orientation-text, .range-slider__max-value-text, .range-slider__min-value-text, .range-slider__handles-count-text, .range-slider__angle-size-text {
    margin: 0px;
    margin-left: 10px;
    text-align: center;
    display: inline-flex;
    align-items: flex-end; }
  .range-slider__first-input, .range-slider__last-input {
    width: 200px;
    height: 30px;
    border: 1px solid black; }
  .range-slider__last-input {
    margin-top: 10px; }
  .range-slider__step-size-input, .range-slider__max-value-input, .range-slider__min-value-input, .range-slider__angle-size-input {
    width: 200px;
    height: 30px;
    margin-top: 10px;
    border: 1px solid black;
    font-size: 1.5rem; }
  .range-slider__handles-count-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .range-slider__handles-count-input {
    width: max-content; }

html,
body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.test-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0px; }
  .test-page__tested-range-slider-container, .test-page__tested-range-slider-container2, .test-page__tested-range-slider-container3, .test-page__tested-range-slider-container4 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px; }

