.slider-with-physic {
    width: 100%;
    height: 100%;
    & .range-slider {
        border: 0px;
    }

    & .range-slider__inputs-container {
        display: none;
    }

    & .range-slider__handle {
        border-radius: 50%;
        opacity: 1;
        background: linear-gradient(to left, rgb(241, 141, 59), rgb(153, 99, 49));
    }

    & .range-slider__handle-background {
        opacity: 0;
    }
}
