mixin color-sliders(options = {})

    div(class=["color-sliders"])
        div(class=["color-sliders__color-square js-color-sliders__color-square"])
        div(class=["color-sliders__sliders js-color-sliders__sliders"])
            div(class=["color-sliders__red js-color-sliders__red"])
            div(class=["color-sliders__green js-color-sliders__green"])
            div(class=["color-sliders__blue js-color-sliders__blue"])
            div(class=["color-sliders__alpha js-color-sliders__alpha"])