&__additional-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 2px solid #50bda5;
} 

&__input-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 5px;
}

&__input {
    width: 30%;
    height: 25px;
    border: 1px solid black;
    font-size: 1.5rem;
}

&__input-text {
    margin: 0px;
    margin-left: 10px;
    text-align: center;
    display: inline-flex;
    align-items: flex-end;
    font-size: 1.2rem;
}
