mixin color-customizer(options = {})

    div(class=["color-customizer"])
        div(class=["color-customizer__color-square js-color-customizer__color-square"])
        div(class=["color-customizer__sliders js-color-customizer__sliders"])
            div(class=["color-customizer__red js-color-customizer__red"])
            div(class=["color-customizer__green js-color-customizer__green"])
            div(class=["color-customizer__blue js-color-customizer__blue"])
            div(class=["color-customizer__alpha js-color-customizer__alpha"])