include ../components/color-customizer/color-customizer.pug

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="keywords" content="слайдер, slider, ползунок, плагин")
    meta(name="description" content="Презентация плагина range slider")
    title Range slider
  body
    div(class=["index"])
      div(class=["index__range-slider-container", "js-index__range-slider-container"])
      div(class=["index__range-slider-container", "js-index__range-slider-container"])
      div(class=["index__color-customizer", "js-index__color-customizer"])
        +color-customizer()
      div(class=["index__slider-with-physic", "js-index__slider-with-physic"])

