@import "../color-sliders/color-sliders.scss";

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.test-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;

    &__tested-range-slider-container_1 {
        display: grid;
        grid-template-columns: 70% auto;
        grid-template-rows: auto auto;
        justify-content: center;
        align-items: center;
        width: 70%;
        /* height: 300px; */
        margin-bottom: 50px;
    }

    &__color-sliders {
        display: flex;
        width: 100%;
    }
}
