html,
body {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.test-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;

    &__tested-range-slider-container,
    &__tested-range-slider-container2,
    &__tested-range-slider-container3,
    &__tested-range-slider-container4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
    }
}
