include ../components/color-customizer/color-customizer.pug

doctype html
html
    head
        meta(charset="utf-8")
        title Test page
        meta(name="viewport" content="width=device-width")
    body
        div(class=["test-page"])
            div(class=["test-page__tested-range-slider-container_1 js-test-page__tested-range-slider-container_1"])  
            div(class=["test-page__color-customizer"])
                +color-customizer()
            div(class=["test-page__slider-with-physic"])

