.options {
    display: grid;
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(58, 37, 179);

    grid-column-start: 1;
    grid-column-end: 3;

    &__label {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        margin-bottom: 5px;
    }

    &__cheackboxes-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;

        margin-bottom: 5px;

        grid-column-start: 1;
        grid-column-end: 3;
        align-items: baseline;
    }

    &__input {
        width: 30%;
        height: 25px;
        border: 1px solid black;
        font-size: 1.5rem;
    }

    &__checkbox-input {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    &__text {
        margin: 0px;
        margin-left: 10px;
        text-align: center;
        display: inline-flex;
        align-items: flex-end;
        font-size: 1.2rem;
    }

    &__title {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    &__inputs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 5px;
    }
}
